*{
    margin: 0;
    padding: 0;
    border:0;
}

.picture{
    width: 100%;
    height: 100vh;
    z-index: 1;
}

body,html{
    overflow: hidden;
}
#movingImage {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50px; /* Initial top position */
    left: 50px; /* Initial left position */
    z-index: 2;
}
#random{
    border: 0;
    /* padding: 300px 0px 0px 0px; */
    background-color: aqua;
    /* background-image: linear-gradient(red,green); */
    z-index: 2;
    font-size: 80px;
}
#target{
    background-color: beige;
    font-size: 80px;
}

#time{
    font-size: 80px;
}
